* {
  outline: none !important;
}

html {
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  word-break: break-word;
  @include flex-column;
}

a {
  @include transition();
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid $color-hover;
  padding-left: 30px;
}

pre {
  white-space: pre-wrap;
  margin-bottom: 30px;
}

.sticky-footer {
  flex: 1 0 auto;
}

#site-loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:$color-white;
  z-index: 99999;
}

#back-top {
  background-color: $background-hover;
  opacity: 0;
  width: 40px;
  height: 40px;
  bottom: 0;
  cursor: pointer;
  position: fixed;
  right: 15px;
  z-index: 1000;
  @include transition();

  a {
    display: block;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    @include transition(all 0.25s ease-in-out);
  }

  &.active_top {
    opacity: 1;
    bottom: 15px;
  }

  &:hover {
    background-color: $background-primary;
  }
}

/* Social network */
.social-network-item {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
  }
}

/* owl carousel navigation */
.owl-carousel {
  .owl-nav {
    text-align: center;
    margin-top: 15px;

    button {
      &.owl-prev,
      &.owl-next {
        margin: 0 6px;
        color: $body-color;
        font-size: 20px;
        line-height: normal;
        @include transition();

        &:hover {
          color: $color-hover;
        }
      }
    }
  }

  .owl-dots {
    margin-top: 30px;
    @include flex-center;

    .owl-dot {
      display: inline-block;
      margin: 0 5px;

      span {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #000000;
        border-radius: 50%;
        @include transition(all 0.2s ease-in-out);
      }

      &.active,
      &:hover {
        span {
          background-color: $background-hover;
        }
      }
    }
  }
}

.custom-equal-height-owl {
  .owl-stage {
    display: flex;

    .owl-item {
      display: flex;
      flex: 1 0 auto;
    }
  }
}

/* Breadcrumbs */
.breadcrumbs {
  .breadcrumbs-col {
    padding: 15px 0;
    border-bottom: 1px solid $border-color;
  }
}

/* Pagination */
.pagination {
  display: block;
  float: none;
  text-align: center;
  margin-top: 50px;
}

.page-numbers {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    span,
    a {
      display: block;
      cursor: pointer;
      border: 1px solid #ddd;
      padding: 5px 12px;
      position: relative;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }

    span.current,
    a:hover {
      background: $background-hover;
      border-color: $background-hover;
      color: #ffffff;
    }
  }
}