.global-header {
  padding: 1rem 0;
  background-color: $color-white;
  
  @media (max-width: 991px) {
    box-shadow: 0 3px 3px -3px rgba(0,0,0,.3);
  }

  .grid-layout {
    display: grid;
    grid-gap: 1.2rem 2.4rem;
    align-items: center;

    @media (min-width: 992px) {
      grid-template-columns: 1fr auto;
    }

    .logo {
      @media (max-width: 991px) {
        order: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-offcanvas {
          margin-left: 10rem;

          button {
            padding: 0;
            border: none;
            font-size: 2.5rem;
            background-color: transparent;
          }
        }
      }
    }

    .contact {
      @media (max-width: 991px) {
        order: 1;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ebebeb;
      }

      @media (max-width: 375px) {
        display: grid;
      }

      .item {
        @media (min-width: 992px) {
          display: flex;
          justify-content: space-between;
        }

        @media (max-width: 991px) {
          font-size: 1.4rem;

          ~ .item {
            margin-left: 1rem;
          }
        }
        
        @media (max-width: 375px) {
          ~ .item {
            margin-left: 0;
          }
        }

        strong {
          ~ strong {
            @media (min-width: 992px) {
              margin-left: .8rem;
            }
          }

          &:first-child {
            color: #337ab7;
          }

          &:last-child {
            color: #ff0000;
          }
        }
      }
    }
  }
}

.nav-primary {
  &.active-sticky-nav {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .primary-menu {
    padding: 0 1.2rem;
    height: 3.2rem;
    background-color: #ce1417;

    > ul {
      > li {
        > a {
          padding: 0 15px;
          text-transform: uppercase;
        }

        &:not(:first-child) {
          a {
            border-left: 1px solid #fff;
          }
        }
      }
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        position: relative;

        a {
          text-shadow: none;
          display: block;
          color: #fff;
          font-size: 1.4rem;
          font-weight: 500;

          &:hover {
            background-color: transparent;
            color: $secondary-color;
          }
        }

        &:last-child {
          a {
            padding-right: 0;
          }
        }

        .sub-menu-toggle {
          &:after {
            @include transition();
          }
        }

        &.current-menu-item,
        &.current-menu-parent {
          > a {
            color: $secondary-color;
          }
        }
      }
    }

    .sub-menu-toggle {
      font-size: 14px;
      cursor: pointer;

      &:after {
        content: "\f078";
        display: inline-block;
        font-family: $font-awesome;
        font-style: normal;
        font-weight: 900;
      }
    }

    @media (min-width: 992px) and (max-width: 1400px) {
      ul {
        li {
          &:nth-last-child(1),
          &:nth-last-child(2) {
            .sub-menu {
              left: auto;
              right: 0;

              li {
                .sub-menu {
                  left: auto;
                  right: 90%;
                }

                &:hover {
                  > .sub-menu {
                    left: auto;
                    right: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (min-width: 992px) and (max-width: 1200px) {
      ul {
        li {
          a {
            padding: 0 7px;
          }
        }
      }
    }

    @media (min-width: 992px) {
      > ul {
        height: 100%;

        > li {
          display: inline-flex;
          height: 100%;
          align-items: center;
        }
      }

      ul {
        li {
          .sub-menu {
            display: block !important;
            min-width: 160px;
            border-top: 1px solid $color-hover;
            background-color: $border-color;
            position: absolute;
            top: 120%;
            left: 0;
            z-index: -1;
            visibility: hidden;
            opacity: 0;
            @include transition();

            li {
              padding: 6px 8px;
              display: flex;

              a {
                white-space: nowrap;
                flex: 1;
              }

              .sub-menu {
                left: 90%;
                top: -1px;
              }

              &:hover {
                > .sub-menu {
                  left: 100%;
                }

                > .sub-menu-toggle {
                  &:after {
                    transform: rotate(-90deg);
                  }
                }
              }
            }
          }

          &:hover {
            > .sub-menu {
              top: 100%;
              z-index: 999;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }

    @media (max-width: 991px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #eeeeee;
      z-index: 99;

      .collapse {
        display: none !important;

        &.in {
          display: block !important;
        }
      }

      ul {
        li {
          display: block;
          padding: 0 15px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);

          &:last-child {
            border-bottom: 0;
          }

          a {
            display: inline-block;
            padding: 15px 0;
          }

          .sub-menu-toggle {
            position: absolute;
            right: 15px;
            top: 15px;
            width: 12px;
            height: 20px;

            &.active {
              &:after {
                transform: rotate(180deg);
              }
            }
          }

          .sub-menu {
            display: none;
            border-top: 0;
            background-color: transparent;

            li {
              border-bottom: 0;
              padding: 0;

              a {
                padding: 8px 0;

                &:before {
                  content: "\f111";
                  display: inline-block;
                  font-family: $font-awesome;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 10px;
                  margin-right: 10px;
                }
              }

              .sub-menu-toggle {
                top: 5px;
                right: 0;
              }

              .sub-menu {
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.header-action-box {
  margin-top: 1rem;

  .item {
    #clock {
      color: #666;
      font-size: 1.4rem;
    }

    .link-facebook {
      font-size: 3.2rem;
      line-height: 3rem;
      color: #3b5998;
    }

    .search-form {
      position: relative;

      .search-field {
        padding: 0 3rem 0 1rem;
        line-height: 3rem;
      }

      .search-submit {
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        width: 3rem;

        &:before {
          position: absolute;
          content: "\f002";
          top: 50%;
          color: #3b5998;
          font-family: $font-awesome;
          font-weight: 900;
          font-size: 1.4rem;
          transform: translate(-50%, -50%);
        }

        .search-reader-text {
          font-size: 0;
        }
      }
    }
  }
}

.offcanvas-menu-mobile {
  background-color: #000000;
  z-index: 9999999999;

  .offcanvas-header {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #fff;
  }

  .offcanvas-title, a {
    color: #fff;
    font-size: 1.6rem;
  }

  .btn-close-canvas {
    font-size: 2rem;
    border: none;
    background-color: transparent;

    i {
      color: #fff;
    }
  }

  .offcanvas-body {
    padding-left: 0;
    padding-right: 0;

    > ul {
      > li {
        padding-left: 1.2rem;
        padding-right: 3.6rem;

        ~ li {
          margin-top: 1rem;
          padding-top: 1rem;
          border-top: 1px solid #111111;
        }
      }
    }

    ul {
      li {
        position: relative;
        color: #fff;

        a {
          display: inline-block;
          font-size: 1.5rem;

          + .sub-menu-toggle {
            position: absolute;
            top: 1rem;
            right: 1.2rem;
            @include square(2.4rem);
            @include flex-center();

            i {
              font-size: 1.4rem;
              color: #fff;
              @include transition();
            }

            &.active {
              i {
                transform: rotate(180deg);
              }
            }
          }
        }

        ul {
          margin-top: .6rem;
          display: none;

          li {
            ~ li {
              margin-top: .8rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .admin-bar {
    .active-sticky-nav {
      top: 32px;
    }
  }
}