// Color
$body-color: #000000;
$heading-color: #222;
$secondary-color: #FFF400;
$tertiary-color: #1D93E3;

$color-hover: #ff5555;
$color-required: #ff5555;
$color-white: #ffffff;

// Background
$background-body: #ffffff;
$background-primary: #333333;
$background-hover: #ff5555;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #eeeeee;