@import "../variables-site/variables";

.tpl-home-warp {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .new-posts {
    display: grid;
    grid-template-columns: 1fr 20rem;
    grid-gap: 2.4rem 1rem;

    &__featured {
      @media (min-width: 480px) {
        padding-right: 1rem;
        border-right: 1px solid #ebebeb;
      }

      @media (max-width: 479px) {
        grid-column: 1 / span 2;
      }

      .item {
        &__thumbnail {
          margin-bottom: 1rem;
          height: 27rem;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &__title {
          margin-bottom: 1rem;
          font-size: 1.8rem;
        }

        &__content {
          font-size: 1.4rem;
        }
      }
    }

    &__list {
      padding-right: 1.2rem;
      overflow: auto;

      @media (min-width: 480px) {
        height: 40rem;
      }

      @media (max-width: 479px) {
        height: 36rem;
      }

      @media (max-width: 479px) {
        grid-column: 1 / span 2;
      }

      .item {
        ~ .item {
          margin-top: .5rem;
          padding-top: .8rem;
          border-top: 1px dotted #999;
        }

        &__title {
          margin: 0;
          font-size: 1.2rem;
        }
      }

      &.scrollbar-inner {
        > .scroll-element {
          &.scroll-y {
            width: .5rem;
            opacity: 0;
            @include transition();
          }

          .scroll-bar {
            height: 20rem;
          }
        }

        &:hover {
          .scroll-element {
            &.scroll-y {
              opacity: 1;
            }
          }
        }
      }
    }

    &__grid {
      grid-column: 1 / span 2;
      display: grid;
      grid-gap: 1.2rem;

      @media (min-width: 480px) {
        grid-template-columns: repeat(4, 1fr);
      }

      .item {
        &__thumbnail {
          margin-bottom: 1rem;
          overflow: hidden;

          @media (min-width: 480px) {
            height: 10.2rem;
          }

          img {
            width: 100%;

            @media (min-width: 480px) {
              height: 100%;
              object-fit: cover;
            }
          }
        }

        &__title {
          margin: 0;
          font-size: 1.4rem;
        }
      }
    }
  }

  .list-categories {
    .item-cate {
      ~ .item-cate {
        margin-top: 3rem;
      }
    }

    .cat-name {
      margin-bottom: 1.8rem;
      padding-bottom: .3rem;
      font-size: 2.4rem;
      border-bottom: 1px solid #FFB89F;

      a {
        color: #dd2719;
      }
    }

    .grid-layout {
      display: grid;
      grid-gap: 1.6rem;

      @media (min-width: 480px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media (max-width: 479px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .item-post {
        .thumbnail {
          margin-bottom: 1rem;
        }

        &:first-child {
          @media (min-width: 480px) {
            grid-column: 1 / span 2;
            grid-row: 1/ span 2;
          }

          @media (max-width: 479px) {
            grid-column: 1 / span 2;
          }

          .thumbnail {
            @media (min-width: 480px) {
              height: 20rem;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }

          .title {
            margin-bottom: 1rem;
            font-size: 1.6rem;
          }

          .content {
            font-size: 1.4rem;
          }
        }

        &:not(:first-child) {
          .thumbnail {
            height: 10rem;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .title {
            margin: 0;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
      }
    }
  }

  .site-sidebar {
    @media (max-width: 767px) {
      margin-top: 3rem;
    }
  }
}