.element-post-grid {
  .cat-name {
    margin-bottom: 1.8rem;
    padding-bottom: .3rem;
    font-size: 2.4rem;
    border-bottom: 1px solid #FFB89F;

    a {
      color: #dd2719;
    }
  }

  .grid-layout {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: repeat(2, 1fr);

    .item {
      .post {
        &__thumbnail {
          margin-bottom: 1rem;
        }

        &__title {
          font-size: 1.6rem;
        }

        &__content {
          font-size: 1.4rem;
        }
      }

      &.item-list {
        display: grid;
        grid-gap: 1.2rem;
        grid-template-columns: repeat(2, 1fr);

        .post {
          &__thumbnail {
            height: 10rem;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &__title {
            margin: 0;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}