.btn-quick-view-product {
  padding: 5px;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  text-align: center;
  color: $color-white;
  background-color: $background-second;
  visibility: hidden;
  @include transition();

  &:hover {
    color: #ffffff;
    background-color: $background-hover;
  }
}

.modal {
  &.mode-quick-view-product {
    .modal-dialog {
      top: 50%;
      transform: translateY(-50%);

      .modal-body {
        min-height: 100px;
      }

      @media (min-width: 992px) {
        max-width: 850px;
      }
    }

    .item-rating {
      .star-rating {
        float: none;
      }
    }

    .content_product_detail {
      .title-product {
        font-size: 26px;
      }

      > div {
        margin-bottom: 12px;
      }

      .item-price {
        .price {
          font-weight: 700;
          color: $color-hover;
          font-size: 15px;

          del {
            margin-right: 5px;
            font-size: 12px;
          }

          ins {
            text-decoration: none;
          }
        }
      }

      form {
        .quantity {
          margin-bottom: 16px;
        }

        button {
          color: $color-white;
          background-color: $background-primary;

          &:hover {
            background-color: $background-hover;
          }
        }

        table {
          width: 100%;

          tr {
            td {
              padding-bottom: 10px;

              .reset_variations {
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }
}

.loading-body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #ffffff;

  .icon-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
}

.woocommerce {
  ul {
    &.products {
      li {
        &.product {
          &:hover {
            .btn-quick-view-product {
              bottom: 0;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
