.pswp__bg {
  background-color: rgba(0, 0, 0, 0.9);
}

.woocommerce {
  .site-shop-single {
    .site-shop-single__warp {
      margin: 0 -15px 30px;
      display: flex;
      flex-flow: row wrap;

      span {
        &.onsale {
          top: 0;
          left: 15px;
        }
      }
    }

    div {
      &.product {
        .site-shop-single__gallery-box {
          width: 50%;
          padding: 0 15px;
          position: relative;
        }

        div {
          &.images {
            float: none;
            width: 100%;
            margin: 0;
          }

          &.summary {
            float: none;
            width: 50%;
            padding: 0 15px;
            margin: 0;

            .woocommerce-product-details__short-description {
              margin-bottom: 10px;
            }
          }
        }

        .product_title {
          font-size: 18px;
          margin: 0 0 10px;
        }

        .woocommerce-product-rating {
          margin-bottom: 10px;
          @include flex-center-vert;

          .star-rating {
            margin: 0 10px 0 0;
          }
        }

        .price {
          margin: 0 0 10px;
          color: $color-hover;
        }

        form {
          &.cart {
            margin: 0 0 10px;

            .quantity {
              input {
                padding: 5px 0;
                border: 1px solid #eeeeee;
              }
            }

            .single_add_to_cart_button {
              background-color: $background-hover;
              width: auto;
              padding: 10px 15px;
            }
          }
        }
      }
    }

    .product_meta {
      > span {
        display: block;
        margin-bottom: 5px;
        font-weight: 700;

        &:last-child {
          margin-bottom: 0;
        }

        span,
        a {
          display: inline-block;
          font-weight: 400;
        }
      }
    }
  }
}